@import "~antd/dist/antd.css";
.test {
	font-size: 20px;
	color: yellow;
}
/* html{
background-color: #FFF8F5;
} */
.home-layout-1 {
	background-color: #fff8f5;
}
.home-layout-2 {
	background-color: #fff8f5;
}
.posts-layout-1 {
	background-color: #fff;
}
.container {
	width: 100%;
	display: flex;
	align-self: center;
	margin: auto;
}
/* sm */
@media (min-width: 576px) {
	.container {
		width: 540px;
	}
}

/* md */
@media (min-width: 768px) {
	.container {
		width: 720px;
	}
}

/* lg */
@media (min-width: 992px) {
	.container {
		width: 960px;
	}
}

/* xl */
@media (min-width: 1200px) {
	.container {
		width: 1140px;
	}
}

/* xxl */
@media (min-width: 1600px) {
	.container {
		width: 1500px;
	}
}

.site-layout-content {
	min-height: 280px;
	padding: 24px;
	/* background: #fff; */
}
/* #components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
} */
/* .setHeader{
display: flex;
justify-content: space-between;
} */
/* .logo {
  float: right;
  margin: 16px 0 16px 24px;
} */
.homeHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* background-color: #fff; */
	height: 70px;
}
.sethomeHeader {
	background: rgba(255, 255, 255, 0);
	height: 70px;
}

.logo {
	background-color: rgb(128, 128, 128);
	height: 70px;
	width: 70px;
	cursor: pointer;
}
.login {
	height: 70px;
	width: 70px;
	margin-right: 22px;
}
.home-posts {
	min-height: 82vh;
	display: flex;
	justify-content: center;
	margin-top: 5rem;
}
.home-nav {
	min-height: 82vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
}
.home-nav::before
{
	content: '';
	height: 82vh;
}
.home-nav-arrange {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	position: relative;
	overflow: hidden;
}
.nav-item {
	color: #3d0c08;
	font-size: 22px;
	margin: 40px;
	cursor: pointer;
	opacity: 0.6;
	transition: opacity 0.25s linear;
}
.home-post-demo {
	width: 300px;
}
.hover-img {
	width: 140px;
	/* 140px/4.8=29px */
	height: 29px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	transition: all 0.2s linear;
}
.hover-img-no {
	width: 140px;
	top: -29px;

	/* transition: all 0.25s linear; */
}

.hover-img-posts {
	width: 140px;
	top: 4px;
}
.hover-img-map {
	width: 140px;
	top: 116px;
}
.hover-img-know {
	width: 140px;
	top: 228px;
}

.nav-top {
	margin-top: 0;
}
/* .nav-item-post:hover {
  background-color: #fff;
  opacity: 1;
} */
/* .nav-item-post:hover .hover-img{
  background-color: #fff;
  
} */
.search-btn {
	background-color: aqua;
	width: 10px;
	height: 10px;
}
.inputCont {
	width: 40%;
	display: flex;
	align-items: center;
}
.postsinput {
	border: none;
	border-radius: 30px;
	height: 40px;
	background-color: rgb(250, 232, 242);
	box-shadow: 0 0 0 0px rgba(82, 10, 5, 0.103);
}
.postsinput:focus {
	background-color: rgb(228, 168, 201);
	/* box-shadow: 0 0 0 2px rgb(255, 144, 136); */
}
.ant-input {
	background-color: rgb(250, 232, 242);
}
.search-btn {
	width: 30px;
	height: 30px;
	background-color: rgb(48, 75, 230);
	transform: translateX(-100%);
	z-index: 2;
}
