@import "~antd/dist/antd.css";
.test {
	font-size: 20px;
	color: yellow;
}
/* html{
background-color: #FFF8F5;
} */
.home-layout-1 {
	background-color: #fff8f5;
	min-height: 100vh;
}
.home-layout-2 {
	background-color: #fff8f5;
}
.posts-layout-1 {
	background-color: #fff;
}
.container {
	width: 100%;
	display: flex;
	align-self: center;
	margin: auto;
}
.bg-dark-gray {
	background-color: #3d0c08;
}
/* sm */
@media (min-width: 576px) {
	.container {
		width: 540px;
	}
}

/* md */
@media (min-width: 768px) {
	.container {
		width: 720px;
	}
}

/* lg */
@media (min-width: 992px) {
	.container {
		width: 960px;
	}
}

/* xl */
@media (min-width: 1200px) {
	.container {
		width: 1140px;
	}
}

/* xxl */
@media (min-width: 1600px) {
	.container {
		width: 1500px;
	}
}

.site-layout-content {
	min-height: 280px;
	padding: 24px;
	/* background: #fff; */
}
/* #components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
} */
/* .setHeader{
display: flex;
justify-content: space-between;
} */
/* .logo {
  float: right;
  margin: 16px 0 16px 24px;
} */
.homeHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* background-color: #fff; */
	height: 70px;
}
.sethomeHeader {
	background: rgba(255, 255, 255, 0);
	height: 70px;
	padding: 0%;
}

.logo {
	background-color: rgb(128, 128, 128);
	height: 70px;
	width: 70px;
	cursor: pointer;
}
.login {
	position: relative;
	height: 70px;
	width: 70px;
	margin-right: 1.5rem;
}
.login-btn {
	cursor: pointer;
	height: 100%;
}
.login-btn-img {
	height: 90%;
}
.user-btn-text {
	line-height: 1rem;
	text-align: center;
	font-size: .8rem;
	width: 90%;
}
.home-posts {
	min-height: 82vh;
	display: flex;
	justify-content: center;
	margin-top: 6.6rem;
}
.home-nav {
	min-height: 82vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
}
.home-nav::before{
	content: '';
	height: 82vh;
}
@media(max-width: 992px) {
	.home-nav-col {
		position: absolute;
		bottom: 40px;
		margin: auto;
		left: 0;
		width: 100vw;
	}
	.home-posts {
		min-height: fit-content;
	}
	.home-nav {
		min-height: fit-content;
	}
	.home-nav::before {
		height: auto;
	}
}

.home-nav-btn{
	position: relative;
	overflow: hidden;
}
.post-nav-btn-white{
	position: relative;
	overflow: hidden;

}
.home-nav-arrange {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;

}
.nav-item {
	color: #3d0c08;
	font-size: 22px;
	margin: 40px;
	cursor: pointer;
	opacity: 0.6;
	transition: opacity 0.25s linear;
}
.nav-item-white{
	color: #fff;
	font-size: 22px;
	margin: auto;
	text-align: center;
	cursor: pointer;
	opacity: 0.6;
	transition: opacity 0.25s linear;
}
.post-nav-cont{
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.home-post-demo {
	width: 300px;
}
@media(max-width: 992px) {
	.home-nav-arrange {
		flex-direction: row;
		justify-content: space-around;
	}
	.nav-item {
		font-size: 19px;
		text-align: center;
		width: 25vw;
		padding: 11px 0;
		margin: 20px auto;
		border: solid 1px #3d0c08;
		border-radius: 3px;
		border-top-left-radius: 20px;
	}
	.home-post-demo {
		width: 160px;
	}
}
.hover-img {
	width: 140px;
	/* 140px/4.8=29px */
	height: 29px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	transition: all 0.2s linear;

}
.area-slected-img {
	width: 140px;
	/* 140px/4.8=29px */
	height: 29px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	transition: all 0.2s linear;
}
.area-slected-img-on {
	width: 140px;
	top: -29px;

	/* transition: all 0.25s linear; */
}
.area-slected-img-off {
	width: 140px;
	top: 10px;
}
.hover-img-no {
	width: 140px;
	top: -29px;

	/* transition: all 0.25s linear; */
}

.hover-img-posts {
	width: 140px;
	top: 4px;
}
.hover-img-map {
	width: 140px;
	top: 116px;
}
.hover-img-know {
	width: 140px;
	top: 228px;
}

.nav-top {
	margin-top: 0;
}
.citys-cont{
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* .nav-item-post:hover {
  background-color: #fff;
  opacity: 1;
} */
/* .nav-item-post:hover .hover-img{
  background-color: #fff;
  
} */
.search-btn {
	background-color: aqua;
	width: 10px;
	height: 10px;
}
.inputCont {
	width: 40%;
	display: flex;
	align-items: center;
}
.postsinput {
	border: none;
	border-radius: 30px;
	height: 40px;
	background-color: #F6F5F5;
	box-shadow: 0 0 0 0px rgba(82, 10, 5, 0.103);
}
.postsinput:focus {
	background-color:#F6F5F5;
	/* box-shadow: 0 0 0 2px rgb(255, 144, 136); */
}
.ant-input {
	background-color: #F6F5F5;
}
.search-btn {
	width: 30px;
	height: 30px;
	background-color: rgb(48, 75, 230);
	transform: translateX(-100%);
	z-index: 2;
}
.login-and-ham {
	min-width: 10rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
/* Hamburger Menu */
.ham-menu {
	display: inline-block;
	position: relative;
	align-items: center;
	z-index: 999;
	width: 4rem;
	height: 4rem;
	margin-right: 2.5rem;
	opacity: 1;
	transition: all .25s linear;
  }
  
  .ham-menu:hover {
	opacity: 1;
	cursor: pointer;
  }
  
  span.ham-menu-bar1 {
	display: inline-block;
	position: absolute;
	background-color: #3D0C08;
	width: 40px;
	height: 4px;
	top: 12px;
	left: 12px;
	border-radius: 2rem;
	transition: all .05s linear;
  }
  
  span.ham-menu-bar2 {
	display: inline-block;
	background-color: #3D0C08;
	position: absolute;
	width: 40px;
	height: 4px;
	bottom: 27px;
	left: 12px;
	border-radius: 2rem;
	transition: all .25s linear;
  }
  
  span.ham-menu-bar3 {
	display: inline-block;
	background-color: #3D0C08;
	position: absolute;
	width: 40px;
	height: 4px;
	bottom: 16px;
	left: 12px;
	border-radius: 2rem;
	transition: all .25s linear;
  }
  
  span.ham-menu-bar1--touch {
	display: inline-block;
	position: absolute;
	background-color: #D8C6BA;
	width: 40px;
	height: 4px;
	top: 12px;
	left: 12px;
	opacity: 0;
	transition: all .05s linear;
  }
  
  span.ham-menu-bar2--touch {
	display: inline-block;
	background-color: #D8C6BA;
	position: absolute;
	width: 40px;
	height: 4px;
	opacity: 1;
	bottom: 30px;
	left: 12px;
	border-radius: 2rem;
	transition: all .25s linear;
	transform: rotate(45deg);
  }
  
  span.ham-menu-bar3--touch {
	display: inline-block;
	background-color: #D8C6BA;
	position: absolute;
	width: 40px;
	height: 4px;
	bottom: 30px;
	left: 12px;
	opacity: 1;
	border-radius: 2rem;
	transition: all .25s linear;
	transform: rotate(-45deg);
  }
.ant-drawer-body{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.ant-layout-content{
	background-color: #fff;
}
.PostAreaList{
	margin-top: 30px;
	width: 100%;
	height: 70vh;
	display: flex;
	position: relative;
	left: -30px;
	/* background-color: red;*/
	flex-direction: column;
	justify-content: space-around;
} 
.post-each-area{
	position: relative;
	overflow: hidden;
	/* background-color: #D8C6BA; */

} 
.area{
	z-index: 2;
	width: 100%;
	height: 40px;
	font-size: 1.7rem;
	text-align: center;
font-weight: bold;
color: #871F1F;
}
.tri{
	width: 100%;
	height: 40px;
	position: absolute;
	left: 0;
	top: 0;
	/* background-color: rgb(226, 93, 93); */
	opacity: 0.5;
	cursor: pointer;
}
.area-active{
	background-color: rgb(167, 87, 87);
}
.each-city-cont{
	position: relative;
	display: flex;
cursor: pointer;
}
.post-each-city{
	margin-top:10px;
	width: 130%;
	height: 38px;

	text-align: center;
	font-size: 1.5rem;
	color: #867272;
}
.post-each-city-active{
	color:#871F1F;

}
.dsp-n{
	display: none;
}
.city-line-cont{
	height: 6px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	left: 50%;
	bottom: 0;
	
}
.city-line{
	height: 2px;
	width: 110%;
	background-color:#871F1F;
	transform: translateX(-50%);
	transition: all 0.1s linear;
}
.city-line-off{
	width: 0;
}
.map-content {
	display: flex;
}
.map-div {
	width: 500px;
	height: 500px;
	margin: auto;
}
.map-canvas {
	position: fixed;
	height: 30vw;
	width: 30vw;
	top: 8rem;
	border-radius: 2rem;
}
/* login card */
.login-card-alignment::before {
	content: '';
	height: 100vh;
}
.login-title {
	width: 100%;
	display: flex;
	align-items: center;	
}
.login-title-img {
	width: 55%;
	margin: 3.5rem auto 2.5rem;
}
.login-form {
	background-color: #fff;
	padding: 1rem;
	margin: auto;
	max-width: 30vw;
	border-radius: 10px;
}

.login-form .remember-color{
	color:#3d0c08;
}

.login-change-color a,
.login-remember-forget a{
	color:#9F3333;
}
.login-email,
.login-password,
.login-remember-forget,
.login-login,
.register-username {
	width: 73%;
	margin: 1.25rem auto;
	border-radius: 10px;	
}
.login-register {
	width: fit-content;
	margin-left: 13.5%;
}
.login-email input,
.login-password span,
.login-password input,
.register-username input {
	background-color: #FCF4F4;
	line-height: 2;
}
.ant-checkbox-checked .ant-checkbox-inner {
	background-color: #3d0c08;
	border-color: #3d0c08;
}
.login-remember-forget a{
	float: right;
}
.login-remember-forget a:hover,
.login-register:hover {
	text-decoration: underline #3d0c08;
}
.login-remember-forget {
	margin-bottom: 0;
}
.login-create-account, 
.register-has-account {
	cursor: pointer;
}
.login-register {
	margin-top: 0;
}
.login-form__button {
	width: 100%;
	height: fit-content;
	background-color: #ffffff;
	border: solid 3px #871F1F;
	border-radius: 6px;
}
.login-form__button-span {
	font-size: 1.25rem;
	color: #871F1F;
}
.login-form__button:hover, .login-form__button:focus {
	background-color: #871F1F;
	border: solid 3px #871F1F;
}
.login-form__button:hover .login-form__button-span, 
.login-form__button:focus .login-form__button-span {
	color: #ffffff;
}
@media(max-width: 992px) {
	.login-form {
		max-width: 60vw;
	}
}
@media(max-width: 576px) {
	.login-form {
		max-width: 90vw;
	}
}
.post-list{
	background-color:#871F1F ;
	height: 100px;
	width: 100%;
}

/* feeder */
.feed {
	margin: 0 auto;
}
.ant-card-body {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.showPostData{
	width: 40px;
	height: 40px;
	background-color: rgb(27, 177, 107);
	color: #FCF4F4;
}
.feedPostData{
	width: 40px;
	height: 40px;
	color: #FCF4F4;
	background-color: rgb(100, 90, 161);
}
.postCard{
	width: 80%;
	height: 800px;
	background-color: red;
}
.hidden{
width: 100%;
background-color: #fff;
}
.inputBG{
background-color: rgb(159, 224, 37);
}

.pano {
	height: 300px;
	width: 300px;
	background-color: #fff;
  }
  .imgTest{
	  width: 300px;height: 300px;
  }